# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
astro/node_modules
dist
astro/dist
dist-lambda
dist-ssr
*.local
astro/.astro/
public/data/pokemon.json
public/data/runtime/
internal

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
