---
import AppPageLayout from "../../../layouts/AppPageLayout.astro";
import { Footer } from "../../../app/components/Footer";
import { Header } from "../../../app/components/Header";
import { MyPokedexPageClient } from "../../../app/pages/MyPokedexPageClient";
---

<AppPageLayout
  title="Edit My Pokedex | Pokedoku Helper"
  description="Edit and sync your personal Pokedex progress in Pokedoku Helper."
  path="/user/pokedex/"
>
  <div class="min-h-screen overflow-x-hidden p-5">
    <Header
      title="Edit My Pokedex"
      subtitle="Track your personal dex progress and keep it synced."
      currentPage="my-pokedex"
      client:load
    />
    <MyPokedexPageClient client:load />
    <Footer client:load />
  </div>
</AppPageLayout>
